body {
  background-color: $color-secundario;
}

.seguros {
  .seguros__back {
    background-image: url(https://developer.huawei.com/system/modules/org.opencms.portal.template.core/resources/images/support/banner-pc.jpg);
    height: 360px;
  }
  .seguros__subtitulo {
    color: $blanco;
    margin-left: 2em;
    padding-top: 1em;
  }
}

.section1 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 2em;
  .section1__boxes {
    padding: 15px;
  }
}
